@import 'variables.css';

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--c-dark);
    color: var(--c-text-main);
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
    /* Atmoszférikus háttér */
    background-image: 
        var(--grad-hero),
        linear-gradient(rgba(119, 215, 185, 0.03) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(119, 215, 185, 0.03) 1px, transparent 1px);
    background-size: 100% 100%, 40px 40px, 40px 40px;
    background-attachment: fixed;
}

/* Scrollbar testreszabás */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--c-dark); }
::-webkit-scrollbar-thumb { background: #1E293B; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--c-menthol); }

/* Typography Utility */
.text-gradient {
    background: var(--grad-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
