name: Deploy to GitHub Pages

on:
  # Akkor induljon el, ha feltöltünk valamit a 'main' ágra
  push:
    branches: [ main ]
  # Vagy ha kézzel indítjuk
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4
      
      - name: Install, build, and upload your site
        uses: withastro/action@v2
        # Ez a sor mondja meg, hogy npm-et használunk
        with:
            package-manager: npm

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4